NET "Clock" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "Reset" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ; 
NET "BTN" LOC = "V4" | IOSTANDARD = LVTTL | PULLDOWN ;

NET "SW[0]" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW[1]" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW[2]" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "SW[3]" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;

NET "LCD_Control<2>" LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_Control<1>" LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "LCD_Control<0>" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

NET "Data_Out<0>" LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "Data_Out<1>" LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "Data_Out<2>" LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "Data_Out<3>" LOC = "M15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;